@model G03_3S.Aparelho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aparelho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeAparelho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAparelho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NomeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAparelho }) |
    @Html.ActionLink("Back to List", "Index")
</p>
