@model G03_3S.Documentacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Documentacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NomeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDocumento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
